<div>
    Welcome to your homepage {{username}}
</div>



<button (click) = "getNewReleases()" type="button">
    Click to get new releases
</button>

<div>
    The new releases are {{newReleases}}
</div>

<label for="artistSearch">search for an artist</label>
<input [(ngModel)]="getArtistSearch" id="artistInput">
<button (click) = "searchArtist()" type="button"> 
    search a specific artist
</button>


<label for="songInput">song name</label>
<input [(ngModel)]="songSearch" id="songInput">
<label for="artistInput">artist name</label>
<input [(ngModel)] = "artistSearch" id="albumInput"> 


<button (click) = "searchSong()" type="button">
    Get info about this song:
</button>

<div>
    Information about this song:
    artist name: 
    {{track?.trackArtist}}
    album name: 
    {{track?.trackAlbum}}
    song name: 
    {{track?.trackName}}
   album image: 
</div>
<img [src] = "albumImageUrl">
<br>

<button (click) = "clearResults()"> 
    click this to clear results
</button>
