<button (click)="connectAccount()" type="button">
Click to link your spotify account
</button>

<div>
   The value of your access token is {{token}}
</div>

<button (click)="connectUserAccount()" type="button">
    Click to get implicit access token
</button>
    
<div>
    The value of your access token is in console
</div>

<button (click) = "getNewReleases()" type="button">
    Click to get new releases
</button>

<div>
    The new releases are {{newReleases}}
</div>

<input [(ngModel)]="song"> 
<button (click) = "searchSong()" type="button">
    Click to submit song search
</button>

<div>
    Information about this song:
    {{songUrl}}
</div>

<button (click) = "getSong()" type="button">
    Get more info about this song:
</button>

<div>
    Extra information about this song:
    artist name:
    {{artistName}}
    album name:
    {{albumName}}
    song name:
    {{songName}}
   album image:
</div>
<img [src] = "albumImageUrl">
<br>

<div>
    The genres are: {{genres}}
</div>
<button (click) = "getGenres()" type="button">
    Click to see all genres
</button>
<br>

<div>
    The users top artists are: {{topArtists}}
</div>
<button (click) = "getTopArtists()" type="button">
    Click to see 5 top artists
</button>
<br>

<button (click) = "clearResults()"> 
    click this to clear results
</button>
